# Importing libraries

In [1]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

# Loading data

In [3]:
df = pd.read_csv('Master_file.csv')

# First look at the data

In [4]:
df.head()

,Unnamed: 0,FILENAME,TQ,TQ COUNT,TBSCAN,TBSCAN COUNT,SORT,SORT COUNT,FILTER,FILTER COUNT,HS JOIN,HS JOIN COUNT,TEMP,TEMP COUNT,GRPBY,GRPBY COUNT,UNIQUE,UNIQUE COUNT,UNION,UNION COUNT,NHJOIN,NHJOIN COUNT,Queries,ESTIMATED_SORT_SHRHEAP_TOP,SORT_SHRHEAP_TOP,NLJOIN,NLJOIN COUNT
0,0,/Users/yonisabokar/IdeaProjects/Database_Parse...,100.0,1,3.110440e+07,9,100.0,1,5184.0,1.0,324349.1,5,154403.0,2.0,139053.0,2,202.0,1.0,NaN,NaN,NaN,NaN,with customer_total_return as (select sr_custo...,79816.0,133909.0,NaN,NaN
1,1,/Users/yonisabokar/IdeaProjects/Database_Parse...,100.0,1,3.110440e+07,9,100.0,1,5184.0,1.0,324349.1,5,154403.0,2.0,139053.0,2,202.0,1.0,NaN,NaN,NaN,NaN,with customer_total_return as (select sr_custo...,79816.0,110652.0,NaN,NaN
2,2,/Users/yonisabokar/IdeaProjects/Database_Parse...,100.0,1,3.110440e+07,9,100.0,1,5184.0,1.0,324349.1,5,154403.0,2.0,139053.0,2,202.0,1.0,NaN,NaN,NaN,NaN,with customer_total_return as (select sr_custo...,79816.0,129057.0,NaN,NaN
3,3,/Users/yonisabokar/IdeaProjects/Database_Parse...,100.0,1,3.110994e+07,9,100.0,1,6105.6,1.0,332641.9,5,157167.8,2.0,139053.0,2,202.0,1.0,NaN,NaN,NaN,NaN,with customer_total_return as (select sr_custo...,79865.0,111082.0,NaN,NaN
4,4,/Users/yonisabokar/IdeaProjects/Database_Parse...,100.0,1,3.110510e+07,9,100.0,1,5299.2,1.0,325385.7,5,154748.6,2.0,139053.0,2,202.0,1.0,NaN,NaN,NaN,NaN,with customer_total_return as (select sr_custo...,79823.0,110894.0,NaN,NaN

In [9]:
print(df['FILENAME'][100])

/Users/yonisabokar/IdeaProjects/Database_Parser/rand_queries_one_hundred_thousand/output10/query_143

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99349 entries, 0 to 99348
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  99349 non-null  int64
 1   FILENAME                    99349 non-null  object
 2   TQ                          99349 non-null  float64
 3   TQ COUNT                    99349 non-null  int64
 4   TBSCAN                      99349 non-null  float64
 5   TBSCAN COUNT                99349 non-null  int64
 6   SORT                        99349 non-null  float64
 7   SORT COUNT                  99349 non-null  int64
 8   FILTER                      96019 non-null  float64
 9   FILTER COUNT                96019 non-null  float64
 10  HS JOIN                     99349 non-null  float64
 11  HS JOIN COUNT               99349 non-null  int64
 12  TEMP                        98669 non-null  float64
 13  TEMP COUNT                  98669 non-null  float64
 14  GRPBY                       99349 non-null  float64
 15  GRPBY COUNT                 99349 non-null  int64
 16  UNIQUE                      96019 non-null  float64
 17  UNIQUE COUNT                96019 non-null  float64
 18  UNION                       98619 non-null  float64
 19  UNION COUNT                 98619 non-null  float64
 20  NHJOIN                      0 non-null      float64
 21  NHJOIN COUNT                0 non-null      float64
 22  Queries                     99349 non-null  object
 23  ESTIMATED_SORT_SHRHEAP_TOP  89654 non-null  float64
 24  SORT_SHRHEAP_TOP            89654 non-null  float64
 25  NLJOIN                      97160 non-null  float64
 26  NLJOIN COUNT                97160 non-null  float64
dtypes: float64(19), int64(6), object(2)
memory usage: 20.5+ MB

## Dropping non-feature columns

In [38]:
cols_non_features = ['Unnamed: 0', 'FILENAME', 'Queries']
df.drop(columns=cols_non_features, inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99349 entries, 0 to 99348
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TQ                          99349 non-null  float64
 1   TQ COUNT                    99349 non-null  int64
 2   TBSCAN                      99349 non-null  float64
 3   TBSCAN COUNT                99349 non-null  int64
 4   SORT                        99349 non-null  float64
 5   SORT COUNT                  99349 non-null  int64
 6   FILTER                      96019 non-null  float64
 7   FILTER COUNT                96019 non-null  float64
 8   HS JOIN                     99349 non-null  float64
 9   HS JOIN COUNT               99349 non-null  int64
 10  TEMP                        98669 non-null  float64
 11  TEMP COUNT                  98669 non-null  float64
 12  GRPBY                       99349 non-null  float64
 13  GRPBY COUNT                 99349 non-null  int64
 14  UNIQUE                      96019 non-null  float64
 15  UNIQUE COUNT                96019 non-null  float64
 16  UNION                       98619 non-null  float64
 17  UNION COUNT                 98619 non-null  float64
 18  NHJOIN                      0 non-null      float64
 19  NHJOIN COUNT                0 non-null      float64
 20  ESTIMATED_SORT_SHRHEAP_TOP  89654 non-null  float64
 21  SORT_SHRHEAP_TOP            89654 non-null  float64
 22  NLJOIN                      97160 non-null  float64
 23  NLJOIN COUNT                97160 non-null  float64
dtypes: float64(19), int64(5)
memory usage: 18.2 MB

# Checking Missing Values

In [40]:
df.isnull().sum()

TQ                                0
TQ COUNT                          0
TBSCAN                            0
TBSCAN COUNT                      0
SORT                              0
SORT COUNT                        0
FILTER                         3330
FILTER COUNT                   3330
HS JOIN                           0
HS JOIN COUNT                     0
TEMP                            680
TEMP COUNT                      680
GRPBY                             0
GRPBY COUNT                       0
UNIQUE                         3330
UNIQUE COUNT                   3330
UNION                           730
UNION COUNT                     730
NHJOIN                        99349
NHJOIN COUNT                  99349
ESTIMATED_SORT_SHRHEAP_TOP     9695
SORT_SHRHEAP_TOP               9695
NLJOIN                         2189
NLJOIN COUNT                   2189
dtype: int64

## Dropping columns with all missing values

In [41]:
df.dropna(axis=1, how='all', inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99349 entries, 0 to 99348
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TQ                          99349 non-null  float64
 1   TQ COUNT                    99349 non-null  int64
 2   TBSCAN                      99349 non-null  float64
 3   TBSCAN COUNT                99349 non-null  int64
 4   SORT                        99349 non-null  float64
 5   SORT COUNT                  99349 non-null  int64
 6   FILTER                      96019 non-null  float64
 7   FILTER COUNT                96019 non-null  float64
 8   HS JOIN                     99349 non-null  float64
 9   HS JOIN COUNT               99349 non-null  int64
 10  TEMP                        98669 non-null  float64
 11  TEMP COUNT                  98669 non-null  float64
 12  GRPBY                       99349 non-null  float64
 13  GRPBY COUNT                 99349 non-null  int64
 14  UNIQUE                      96019 non-null  float64
 15  UNIQUE COUNT                96019 non-null  float64
 16  UNION                       98619 non-null  float64
 17  UNION COUNT                 98619 non-null  float64
 18  ESTIMATED_SORT_SHRHEAP_TOP  89654 non-null  float64
 19  SORT_SHRHEAP_TOP            89654 non-null  float64
 20  NLJOIN                      97160 non-null  float64
 21  NLJOIN COUNT                97160 non-null  float64
dtypes: float64(17), int64(5)
memory usage: 16.7 MB

## Dropping rows with missing values

In [43]:
df.dropna(axis=0, inplace=True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85626 entries, 50 to 95368
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TQ                          85626 non-null  float64
 1   TQ COUNT                    85626 non-null  int64
 2   TBSCAN                      85626 non-null  float64
 3   TBSCAN COUNT                85626 non-null  int64
 4   SORT                        85626 non-null  float64
 5   SORT COUNT                  85626 non-null  int64
 6   FILTER                      85626 non-null  float64
 7   FILTER COUNT                85626 non-null  float64
 8   HS JOIN                     85626 non-null  float64
 9   HS JOIN COUNT               85626 non-null  int64
 10  TEMP                        85626 non-null  float64
 11  TEMP COUNT                  85626 non-null  float64
 12  GRPBY                       85626 non-null  float64
 13  GRPBY COUNT                 85626 non-null  int64
 14  UNIQUE                      85626 non-null  float64
 15  UNIQUE COUNT                85626 non-null  float64
 16  UNION                       85626 non-null  float64
 17  UNION COUNT                 85626 non-null  float64
 18  ESTIMATED_SORT_SHRHEAP_TOP  85626 non-null  float64
 19  SORT_SHRHEAP_TOP            85626 non-null  float64
 20  NLJOIN                      85626 non-null  float64
 21  NLJOIN COUNT                85626 non-null  float64
dtypes: float64(17), int64(5)
memory usage: 15.0 MB

In [45]:
df.head()

,TQ,TQ COUNT,TBSCAN,TBSCAN COUNT,SORT,SORT COUNT,FILTER,FILTER COUNT,HS JOIN,HS JOIN COUNT,TEMP,TEMP COUNT,GRPBY,GRPBY COUNT,UNIQUE,UNIQUE COUNT,UNION,UNION COUNT,ESTIMATED_SORT_SHRHEAP_TOP,SORT_SHRHEAP_TOP,NLJOIN,NLJOIN COUNT
50,100.0,1,5.079190e+08,10,100.0,1,1150.29,1.0,1078561.89,8,5.0,5.0,1150.29,1,1150.29,1.0,5627.74,1.0,31732.0,66491.0,15.0,15.0
51,100.0,1,5.079190e+08,10,100.0,1,1198.54,1.0,1093084.89,8,5.0,5.0,1198.54,1,1198.54,1.0,5627.74,1.0,32435.0,71757.0,15.0,15.0
52,100.0,1,5.079190e+08,10,100.0,1,1150.29,1.0,1078561.89,8,5.0,5.0,1150.29,1,1150.29,1.0,5627.74,1.0,31732.0,64661.0,15.0,15.0
53,100.0,1,5.079190e+08,10,100.0,1,1198.54,1.0,1093084.89,8,5.0,5.0,1198.54,1,1198.54,1.0,5627.74,1.0,32355.0,67439.0,15.0,15.0
54,100.0,1,5.079253e+08,10,100.0,1,4185.15,1.0,2929905.60,8,5.0,5.0,4185.15,1,4185.15,1.0,5627.74,1.0,32252.0,65488.0,15.0,15.0

In [46]:
df.shape

(85626, 22)

In [47]:
df.columns

Index(['TQ', 'TQ COUNT', 'TBSCAN', 'TBSCAN COUNT', 'SORT', 'SORT COUNT',
       'FILTER', 'FILTER COUNT', 'HS JOIN', 'HS JOIN COUNT', 'TEMP',
       'TEMP COUNT', 'GRPBY', 'GRPBY COUNT', 'UNIQUE', 'UNIQUE COUNT', 'UNION',
       'UNION COUNT', 'ESTIMATED_SORT_SHRHEAP_TOP', 'SORT_SHRHEAP_TOP',
       'NLJOIN', 'NLJOIN COUNT'],
      dtype='object')

# Converting these values to MB

In [48]:
df['ESTIMATED_SORT_SHRHEAP_TOP'] = df['ESTIMATED_SORT_SHRHEAP_TOP'] * 4000 / 1000000
df['SORT_SHRHEAP_TOP'] = df['SORT_SHRHEAP_TOP'] * 4000 / 1000000

In [49]:
df.head()

,TQ,TQ COUNT,TBSCAN,TBSCAN COUNT,SORT,SORT COUNT,FILTER,FILTER COUNT,HS JOIN,HS JOIN COUNT,TEMP,TEMP COUNT,GRPBY,GRPBY COUNT,UNIQUE,UNIQUE COUNT,UNION,UNION COUNT,ESTIMATED_SORT_SHRHEAP_TOP,SORT_SHRHEAP_TOP,NLJOIN,NLJOIN COUNT
50,100.0,1,5.079190e+08,10,100.0,1,1150.29,1.0,1078561.89,8,5.0,5.0,1150.29,1,1150.29,1.0,5627.74,1.0,126.928,265.964,15.0,15.0
51,100.0,1,5.079190e+08,10,100.0,1,1198.54,1.0,1093084.89,8,5.0,5.0,1198.54,1,1198.54,1.0,5627.74,1.0,129.740,287.028,15.0,15.0
52,100.0,1,5.079190e+08,10,100.0,1,1150.29,1.0,1078561.89,8,5.0,5.0,1150.29,1,1150.29,1.0,5627.74,1.0,126.928,258.644,15.0,15.0
53,100.0,1,5.079190e+08,10,100.0,1,1198.54,1.0,1093084.89,8,5.0,5.0,1198.54,1,1198.54,1.0,5627.74,1.0,129.420,269.756,15.0,15.0
54,100.0,1,5.079253e+08,10,100.0,1,4185.15,1.0,2929905.60,8,5.0,5.0,4185.15,1,4185.15,1.0,5627.74,1.0,129.008,261.952,15.0,15.0

In [50]:
df.columns

Index(['TQ', 'TQ COUNT', 'TBSCAN', 'TBSCAN COUNT', 'SORT', 'SORT COUNT',
       'FILTER', 'FILTER COUNT', 'HS JOIN', 'HS JOIN COUNT', 'TEMP',
       'TEMP COUNT', 'GRPBY', 'GRPBY COUNT', 'UNIQUE', 'UNIQUE COUNT', 'UNION',
       'UNION COUNT', 'ESTIMATED_SORT_SHRHEAP_TOP', 'SORT_SHRHEAP_TOP',
       'NLJOIN', 'NLJOIN COUNT'],
      dtype='object')

In [51]:
df = df.copy()[['TQ', 'TQ COUNT', 'TBSCAN', 'TBSCAN COUNT', 'SORT', 'SORT COUNT',
       'FILTER', 'FILTER COUNT', 'HS JOIN', 'HS JOIN COUNT', 'TEMP',
       'TEMP COUNT', 'GRPBY', 'GRPBY COUNT', 'UNIQUE', 'UNIQUE COUNT', 'UNION',
       'UNION COUNT','NLJOIN', 'NLJOIN COUNT', 'ESTIMATED_SORT_SHRHEAP_TOP', 'SORT_SHRHEAP_TOP']]

In [52]:
df.rename(columns={'ESTIMATED_SORT_SHRHEAP_TOP':'db2', 'SORT_SHRHEAP_TOP':'actual'}, inplace=True)

In [53]:
df.to_csv('tpcds-clean.csv', index=False)

# Partitioning the dataset into training and test sets

In [54]:
print(df.columns)

Index(['TQ', 'TQ COUNT', 'TBSCAN', 'TBSCAN COUNT', 'SORT', 'SORT COUNT',
       'FILTER', 'FILTER COUNT', 'HS JOIN', 'HS JOIN COUNT', 'TEMP',
       'TEMP COUNT', 'GRPBY', 'GRPBY COUNT', 'UNIQUE', 'UNIQUE COUNT', 'UNION',
       'UNION COUNT', 'NLJOIN', 'NLJOIN COUNT', 'db2', 'actual'],
      dtype='object')

In [55]:
X_cols = ['TQ', 'TQ COUNT', 'TBSCAN', 'TBSCAN COUNT', 'SORT', 'SORT COUNT',
       'FILTER', 'FILTER COUNT', 'HS JOIN', 'HS JOIN COUNT', 'TEMP',
       'TEMP COUNT', 'GRPBY', 'GRPBY COUNT', 'UNIQUE', 'UNIQUE COUNT',
       'db2']
target = ['actual']

In [56]:
X, y = df[X_cols], df[target]

X_train, X_test, y_train, y_test =\
    train_test_split(X, y, 
                     test_size=0.2, 
                     random_state=0)

In [57]:
features = ['TQ', 'TQ COUNT', 'TBSCAN', 'TBSCAN COUNT', 'SORT', 'SORT COUNT',
       'FILTER', 'FILTER COUNT', 'HS JOIN', 'HS JOIN COUNT', 'TEMP',
       'TEMP COUNT', 'GRPBY', 'GRPBY COUNT', 'UNIQUE', 'UNIQUE COUNT']

# Bringing a subset of the features onto the same scale - using ColumnTransformer

In [58]:
c_transf = ColumnTransformer([
        ('stdscaler', StandardScaler(), features)
    ], remainder='passthrough')

X_train_std = c_transf.fit_transform(X_train).astype(float)

X_test_std = c_transf.transform(X_test).astype(float)

In [59]:
X_train_std.shape

(68500, 17)

In [60]:
X_train.head(1)

,TQ,TQ COUNT,TBSCAN,TBSCAN COUNT,SORT,SORT COUNT,FILTER,FILTER COUNT,HS JOIN,HS JOIN COUNT,TEMP,TEMP COUNT,GRPBY,GRPBY COUNT,UNIQUE,UNIQUE COUNT,db2
65202,2177.8,2,2.899989e+08,6,1088.9,1,1088.27,1.0,364757.4,4,36.66663,2.0,10882.7,1,0.000068,2.0,72.568

In [61]:
X_train_std[0]

array([ 2.89021101e+00,  4.47783588e+00, -1.09936299e-01, -6.31928849e-01,
       -2.30970508e-01, -4.12469483e-01, -3.74475187e-01, -4.91026714e-01,
       -2.03299523e-01, -5.15257460e-01, -5.07390746e-01,  6.91097277e-02,
       -3.74356683e-01, -6.83190685e-01, -3.08535078e-01,  8.48438366e-01,
        7.25680000e+01])

In [62]:
X_test_std.shape

(17126, 17)

# Converting y into np arrays

In [63]:
y_train = y_train.values
y_test = y_test.values

# Saving training and test datasets

In [64]:
X_train.shape

(68500, 17)

In [65]:
X_train_std.shape

(68500, 17)

In [66]:
type(X_train_std)

numpy.ndarray

In [67]:
X_train_clean = pd.DataFrame(X_train_std, columns=X_train.columns)
X_train_clean['actual'] = y_train

In [68]:
X_train_clean.head(5)

,TQ,TQ COUNT,TBSCAN,TBSCAN COUNT,SORT,SORT COUNT,FILTER,FILTER COUNT,HS JOIN,HS JOIN COUNT,TEMP,TEMP COUNT,GRPBY,GRPBY COUNT,UNIQUE,UNIQUE COUNT,db2,actual
0,2.890211,4.477836,-0.109936,-0.631929,-0.230971,-0.412469,-0.374475,-0.491027,-0.203300,-0.515257,-0.507391,0.069110,-0.374357,-0.683191,-0.308535,0.848438,72.568,117.012
1,-0.096758,-0.223322,-0.550475,-0.631929,-0.233063,-0.412469,1.128013,1.235810,-0.209978,-0.515257,-0.302987,-0.532953,-0.380635,-0.683191,-0.302633,-0.621787,82.636,323.176
2,-0.239077,-0.223322,0.626597,-0.111590,-0.233239,-0.412469,1.128023,1.235810,-0.070599,-0.028800,-0.506675,0.069110,3.919395,0.529035,-0.302633,-0.621787,1075.884,1874.272
3,-0.239077,-0.223322,-0.116630,-0.978821,-0.233063,-0.412469,-0.376033,-0.491027,-0.014063,-0.758486,-0.507415,-0.532953,-0.389237,-0.683191,-0.308041,-0.621787,44.276,21.636
4,-0.239077,-0.223322,0.626597,-0.111590,-0.230710,0.714227,-0.230843,1.235810,-0.070600,-0.028800,-0.506675,0.069110,3.076806,0.529035,-0.308145,-0.621787,979.024,1860.684

In [69]:
X_train_clean.to_csv('tpcds_train_clean.csv', index=False)

In [70]:
X_test_clean = pd.DataFrame(X_test_std, columns=X_test.columns)
X_test_clean['actual'] = y_test

In [71]:
X_test_clean.head(5)

,TQ,TQ COUNT,TBSCAN,TBSCAN COUNT,SORT,SORT COUNT,FILTER,FILTER COUNT,HS JOIN,HS JOIN COUNT,TEMP,TEMP COUNT,GRPBY,GRPBY COUNT,UNIQUE,UNIQUE COUNT,db2,actual
0,-0.240514,-0.223322,0.462542,-0.111590,-0.233275,-0.412469,-0.355816,-0.491027,-0.185196,0.214428,-0.468062,0.069110,-0.389239,-0.683191,-0.302955,0.848438,209.584,158.860
1,-0.240514,-0.223322,0.775236,0.061856,-0.233275,-0.412469,-0.376034,-0.491027,-0.142859,0.457657,-0.506034,0.671172,-0.389239,0.529035,3.263571,-0.621787,291.488,2618.864
2,-0.240514,-0.223322,0.619996,0.061856,-0.233275,-0.412469,3.328263,-0.491027,-0.187562,0.457657,4.665741,3.681484,-0.389239,-0.683191,-0.308535,-0.621787,242.508,228.172
3,-0.096758,-0.223322,-0.829048,-0.458483,-0.233063,-0.412469,-0.242231,-0.491027,-0.200314,-0.272029,-0.462133,-0.532953,-0.261471,-0.683191,-0.302150,0.848438,377.412,393.260
4,2.904989,4.477836,-0.109936,-0.631929,-0.230960,-0.412469,-0.374468,-0.491027,-0.203295,-0.515257,-0.507391,0.069110,-0.374286,-0.683191,-0.308535,0.848438,72.556,116.456

In [72]:
X_test_clean.to_csv('tpcds_test_clean.csv', index=False)